<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean id="stringReader" class="ru.vetyugov.springMiddle.util.CSVResourceStringReader">-->
<!--        <property name="fileName" value="questions.csv"/>-->
<!--    </bean>-->
<!--    <bean id="stringToQuestionParser" class="ru.vetyugov.springMiddle.util.StringToQuestionParserImpl">-->
<!--        <property name="regex" value=","/>-->
<!--    </bean>-->
<!--    <bean id="questionReader" class="ru.vetyugov.springMiddle.util.QuestionReaderImpl">-->
<!--        <property name="stringReader" ref="stringReader"/>-->
<!--        <property name="stringToQuestionParser" ref="stringToQuestionParser"/>-->
<!--    </bean>-->
<!--    <bean id="questionDao" class="ru.vetyugov.springMiddle.dao.QuestionDaoImpl">-->
<!--        <constructor-arg ref="questionReader"/>-->
<!--    </bean>-->
<!--    <bean id="questionService" class="ru.vetyugov.springMiddle.service.QuestionServiceImpl">-->
<!--        <constructor-arg ref="questionDao"/>-->
<!--    </bean>-->
<!--    <bean id="questionsPrinter" class="ru.vetyugov.springMiddle.service.QuestionIOService">-->
<!--        <constructor-arg ref="questionService"/>-->
<!--    </bean>-->
<!--</beans>-->