<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvQuestionParser" class="ru.vetyugov.springMiddle.util.CsvQuestionParser">
        <property name="fileName" value="questions.csv"/>
    </bean>
    <bean id="questionDao" class="ru.vetyugov.springMiddle.dao.QuestionDaoImpl">
        <constructor-arg ref="csvQuestionParser"/>
    </bean>
    <bean id="questionService" class="ru.vetyugov.springMiddle.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
    </bean>
    <bean id="questionsPrinter" class="ru.vetyugov.springMiddle.util.QuestionsPrinter">
        <constructor-arg ref="questionService"/>
    </bean>
</beans>